$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;
$white-color: #fff;
$gray-color: #777;
$color-gray-light-1 : #f7f7f7;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;


